.col8{
    position: relative;
    padding: 15px;
    padding-top: 50px;
    border-left: 2px solid #003066;
}

.editIcon{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    color: #003066;
}

.content_principal{
    margin: 30px!important;
    border: 5px solid #003066;
    border-radius: 10px;
}

.h3{
    color: #003066;
    font-weight: 700;
    padding-bottom: 15px;
}

.col4{
    padding: 20px;
    border-right: 2px solid #003066;
}

.col2{
    padding: 20px;
    border-left: 4px solid #003066;

}

.contentItem{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.contentItemCreate{
    display: flex;
    margin-bottom: 100px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.label{
    font-weight: 700;
    margin-right: 15px;
    color:#003066;
}

.labelCreate{
    font-weight: 700;
    margin-right: 40px;
    margin-top: 50px;
    color:#003066;
}

.icon{
    font-size: 25px;
    margin: 0 15px 0 10px;
}

.update{
    color: #51BC7A;
}

.consulta{
    color: #EBC05E;
}

.error{
    color: #EA6960;
}

.calendar{
    color: #003066;
}

.disabled{
    background-image: none!important;
    border: none!important;
    background: none; 
}

.input{
    text-align: end!important;
}

.contentInput{
    display: flex;
    align-items: center;
}

.addRight{
    padding-right: 10px!important;
}

.addRightSelect{
    padding-right: 30px!important;
}

.removeCorner{
    resize: none;
}

.content_iconState{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content_state{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.iconState{
    font-size: 100px;
}

.contentRow{
    border-radius: 11px;
    border: 2px solid #003066;
}

.contentContainer{
    border-radius: 11px;
    margin: 46px;
}

.iconSave{
    position: absolute;
    top: 5px;
    right: 50px;
}

.iconClose{
    color: #EA6960;
}

.contentTaskTickets{
    border-top: 2px solid #003066;
}

.contentCard{
    height: auto;
    width: 300px;
    padding: 20px;
    background: #003066!important;
    color: white;
    font-weight: 600;
    margin-top: 15px;
}

.uninformation{
    justify-content: center;
    display: flex;
}

.tdTable{
    font-weight: 700;
    color: #003066;
}

.invalidData{
    border: 2px solid #EA6960!important;
}

.invalidDataOnfocus{
    border: 2px solid #EA6960!important;
    box-shadow: 0px 0px 11px #EA6960!important;
}

.goTo{
    cursor: pointer;
}