.card{
    padding: 0px 40px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #003066;
    color: #003066;
}

.card2{
    padding: 0px 20px;
    width: 250%;
    height: auto;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #003066;
    color: #003066;
}

.descItem{
    margin: 10px;
}

.descItem2{
    margin: 15px;
}

.label{
    font-weight: 600;
    margin: 10px;
}

.label2{
    font-weight: 600;
    margin: 15px;
}

.contentIcon{
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 6%;
}

.contentIconRecursos{
    padding: 0px 15px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.isSelected{
    background: #0083C61A;
}

.contentDescription{
    display: flex;
    width: 80%;
    justify-content: space-between;
    font-weight: 700;
}

.contentDescriptionRecursos{
    display: flex;
    width: 200%;
    justify-content: space-between;
    font-weight: 700;
}

.contentDescription2{
    display: flex;
    font-weight: 700;
}

.buttonPopover{
    background-color: #003066;
}

.panelPopover{
    position: absolute;
    background: red;
}

.styleNav{
    text-decoration: none;
    color: #003066;
    /* font-size: 25px; */
    display: flex;
    width: 80%;
}

.styleNav:hover{
    opacity: 0.8;
}