.content{
    padding-top: 20px;
    border-bottom: 1px solid black;
}

.contentAudio{
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo{
    color: rgb(0, 4, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    padding-bottom: 1%;
   
}